version: '3.8'

services:

  # Backend (FastAPI)
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgresql+psycopg://usuario:password123@postgres:5432/mi_app_db}
      PYTHONUNBUFFERED: 1
    networks:
      - app-network
      - dokploy-network
    restart: unless-stopped

  # Frontend (Next.js)
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL:-http://localhost:8000}
    networks:
      - app-network
    restart: unless-stopped

volumes: {}

networks:
  app-network:
    driver: bridge
  dokploy-network:
    external: true
